/** @format */

.Footer-Div {
  background: #ededed;
}
.Footer-Div .container {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
}
.Footer-Div .container ul {
  padding-left: 0;
  list-style: none;
}
.Footer-Div .container ul li {
  padding-left: 0;
}
.Footer-Div .container ul li.head {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Footer-Div .container ul li {
  color: #7e7e7e;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 10px;
}
.Footer-Div .container .four-cont {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
}
.Footer-Div .container .social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.Footer-Div .container .social-links img {
  width: 30px;
  cursor: pointer;
}

.copy-right {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
}
.copy-right p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}


