.Footer-Div{
    background: #EDEDED;
}
.Footer-Div .container{
    max-width: 1400px;
    margin: auto;
    padding: 20px;
}
.Footer-Div .container ul{
    padding-left: 0;
}
.Footer-Div .container ul li{
    padding-left: 0;
}
.Footer-Div .container ul li{
    padding-left: 0;
}