/** @format */

@media (max-width: 780px) {
  .Login-Page .Login-Div {
    max-width: 90%;
  }
  .Login-Page .Login-Div .logo {
    font-size: 20px;
  }
  .Login-Page .Login-Div .container .head {
    font-size: 18px;
  }
  .Navbar .container {
    display: none;
  }
  .Filter-Category {
    display: none;
  }
  .Filter-C .empty-container {
    display: none;
  }
  .offer-products {
    display: block;
  }
  .offer-products .left-container {
    width: 100%;
  }
  .offer-products .left-container .img-container {
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    height: auto;
    border-radius: 0;
  }
}
