/**
 * Login Page
 *
 * @format
 */

.Login-Page {
  min-height: 100vh;
  background-image: url("../../public/Image/1.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.Login-Page .Login-Div {
  max-width: 600px;
  width: 100%;
  display: block;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Login-Page .Login-Div .logo {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
}

.Login-Page .Login-Div .container {
  border-radius: 16px;
  background: #fff;
  padding: 16px;
}
.Login-Page .Login-Div .container .head {
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  line-height: normal;
}
.Login-Page .Login-Div .container input {
  max-width: 400px;
  width: 100%;
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #b9b9b9;
  outline: none;
  font-size: 16px;
  font-family: Quicksand;
  background: #fff;
  box-shadow: 8px 4px 20px 0px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.Login-Page .Login-Div .container .forget-password {
  max-width: 400px;
  width: 100%;
  text-align: right;
  display: block;
  margin: auto;
  margin-top: 10px;
  color: #f00;
  font-weight: 600;
  cursor: pointer;
}

.Login-Page .Login-Div .container .login-button {
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #b9b9b9;
  background: #cbc273;
  padding: 10px;
  display: block;
  margin: auto;
  margin-top: 40px;
  font-family: Quicksand;
  color: #f5f5f5;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 8px 4px 20px 0px rgba(0, 0, 0, 0.3);
}
.Login-Page .Login-Div .container .signup-button {
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  display: block;
  margin: auto;
  margin-top: 10px;
  font-family: Quicksand;
  color: #cbc273;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.Login-Page .Login-Div .container .three-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.Filter-Category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1400px;
  margin: auto;
}
.Filter-Category .center .Main .empty {
  background-color: #cbc273;
  height: 2px;
}
.Filter-Category .center {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.Filter-Category .center button {
  display: flex;
  width: 120px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #b9b9b9;
  border-radius: 10px;
  background: #b9b9b9;
  gap: 10px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}
.Filter-Category .center button.active {
  background-color: #cbc273;
  border: 1px solid #cbc273;
}
.Filter-Category .center button img {
  width: 20px;
  height: 20px;
}
.Filter-Category .center button svg {
  font-size: 20px;
}
.Filter-Category .center button i {
  font-size: 20px;
}
.Filter-Category .center button span {
  color: #f5f5f5;
  text-align: center;
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Filter-Category .right {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.Filter-Category .right button {
  display: flex;
  min-width: 150px;
  max-width: 180px;

  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  background-color: #cbc273;
  border: 1px solid #cbc273;
}

.Filter-Category .right button i {
  font-size: 20px;
}
.Filter-Category .right button span {
  color: #f5f5f5;
  text-align: center;
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.offer-products {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1400px;
  margin: auto;
}
.offer-products .left-container {
  width: 50%;
}
.offer-products .left-container .img-container {
  width: 100%;
  height: 267px;
  background-image: url("../../public/Image/4.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50px;
}
.offer-products .left-container .img-container h5 {
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin: 0;
  padding-top: 40px;
  margin-bottom: 20px;
}
.offer-products .left-container .img-container button {
  width: 150px;
  padding: 10px;
  color: #8d8d8d;
  text-align: center;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  display: block;
  margin: auto;
}

.offer-products .left-container .img-container-2 {
  background-image: url("../../public/Image/5.png");
}

.offer-products .left-container .img-container-2 h5 {
  text-align: left;
  color: #7e7e7e;
  padding-left: 40px;
}
.offer-products .left-container .img-container-2 button {
  margin-left: 40px;
}

.offer-products .left-container .two-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.offer-products .left-container .two-sec .left {
  max-width: 365px;
}
.offer-products .left-container .two-sec .left img {
  max-width: 100%;
}
.offer-products .left-container .two-sec .right {
  border-radius: 37px;
  border: 4px solid #e7e6e2;
  background: rgba(217, 217, 217, 0);
  width: 40%;
}

.Favorite-slider {
  padding: 10px;
}
.Favorite-slider .Prev-Next_cont {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  background-color: #e7e6e2;
  border-radius: 50px;
  justify-content: space-evenly;
  align-items: center;
}
.Favorite-slider .Prev-Next_cont span {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.Favorite-slider .Prev-Next_cont img {
  cursor: pointer;
}
.Fav-Slide {
  width: 100%;
}
.Fav-Slide .Main {
  width: 100%;
}
.Fav-Slide .Main img {
  width: 100%;
}
.Fav-Slide .slick-arrow {
  display: none !important;
}

.offer-products .right-container {
  width: 50%;
}

.offer-products .right-container .product-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-end;
  padding: 20px;
}
.offer-products .right-container .product-container .Main {
  background-color: #fff;
  width: 45%;
  padding: 10px;
  border-radius: 20px;
}
.offer-products .right-container .product-container .Main .fa-heart {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  color: #001a72;
}
.offer-products .right-container .product-container .Main img {
  max-width: 100%;
  display: block;
  margin: auto;
}
.offer-products .right-container .product-container .Main .pick {
  color: #7e7e7e;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
.offer-products .right-container .product-container .Main .desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
.offer-products .right-container .product-container .Main .desc span {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 70%;
}
.offer-products .right-container .product-container .Main .desc button {
  max-width: 30%;
  width: 120px;
  border: 1px solid #cbc273;
  background-color: #cbc273;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-family: Quicksand;
  line-height: normal;
}

.offer-products .right-container .img-container {
  width: 100%;
  padding: 20px;
}
.offer-products .right-container .img-container img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.Heading-all {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 10px;
}

.Trending-Product {
  padding: 20px;
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.Trending-Product .Main {
  width: 30%;
  padding: 10px;
}
.Trending-Product .Main img {
  max-width: 100%;
  display: block;
  margin: auto;
}
.Trending-Product .Main p {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding: 10px;
  line-height: normal;
  text-align: center;
  font-family: Quicksand;
  margin: 0;
}

.full-width-product {
  padding: 20px;
  display: flex;
  max-width: 1400px;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.full-width-product .Main {
  width: 22%;
}
.full-width-product .Main .img-container {
  width: 100%;
  position: relative;
}
.full-width-product .Main .img-container img {
  max-width: 100%;
  display: block;
  margin: auto;
}
.full-width-product .Main .img-container .fa-heart {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 25px;
  color: #001a72;
  z-index: 2;
  cursor: pointer;
}

.full-width-product .Main .product-desc {
  padding: 10px;
}
.full-width-product .Main .product-desc p {
  margin: 0;
  text-align: center;
  max-width: 100%;
}
.full-width-product .Main .product-desc .light {
  color: #7e7e7e;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.full-width-product .Main .product-desc .title {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Filter-C .empty-container .empty {
  background-color: #ededed;
  height: 1px;
}

.Filter-C .empty-container {
  position: relative;
  max-width: 1400px;
  margin: auto;
}
.Filter-C .empty-container .empty-colored {
  background-color: #cbc273;
  height: 2px;
  width: 50px;
}
