/**
 * Login Page
 *
 * @format
 */

.Login-Page {
  min-height: 100vh;
  background-image: url("../../public/Image/1.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Login-Page .Login-Div {
  max-width: 600px;
  width: 100%;
  display: block;
  margin: auto;
}
.Login-Page .Login-Div .logo {
  color: #000;
  font-family: "Inter";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  text-align: center;
}
