/* Login Page */
.Login-Page {
    min-height: 100vh;
    background-image: url('../../public/Image/1.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Login-Page .Login-Div{
    max-width: 600px;
    width: 100%;
}
.Login-Page .Login-Div 